<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDqOBuQuRjSj1MHwFpw1zjnbzo30JAJvdA</string>
	<key>GCM_SENDER_ID</key>
	<string>54170088721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imeperial.ayursage</string>
	<key>PROJECT_ID</key>
	<string>ayursage-146ed</string>
	<key>STORAGE_BUCKET</key>
	<string>ayursage-146ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54170088721:ios:bbb00d9b6e3e663d6a48b0</string>
</dict>
</plist>